<app-github-link></app-github-link>
<section class="container">
  <header>
    <h1>Auto-Complete</h1>
  </header>
  <div class="form-list__container">
    <app-user-input
      (displayWordList)="sendWordListToDisplay($event)"
      [selectedWordFromList]="selectedWordFromList"></app-user-input>
    <app-auto-complete-list
      (selectedWordFromList)="sendWordToDisplayInInput($event)"
      [listOfResults]="autoCompleteResults"
      [selectedWord]="selectedWordFromList"></app-auto-complete-list>
  </div>
</section>
