header {
  color: white;
}
h1 {
  font-size: 35px;
  margin: 0;
  padding: 0 0 15px; 
}
.container {
  max-width: 960px;
  width: 90%;
  margin: 200px auto 0;
  position: relative;
}

.form-list__container {
  -webkit-border-radius: 35px;
  border-radius: 35px;
  position: relative;
  z-index: 1;
  box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.4);
}
